{{ attach_library("dd_page_about/dd_page_about")}}
<main class="about">
    <section class="title">
        <h1>DD Longbeach, marque de vêtements créer en 2006.</h1>
    </section>
    <section class="grid">
        <div class="slideshow">
            <ul>
                <li><img src="{{ url('<front>') }}/sites/default/files/media-images/coupe-vent.jpg" alt="coupe vent ddlongbeach"/></li>
                <li><img src="{{ url('<front>') }}/sites/default/files/media-images/casquette-strapback-spotted.jpg" alt="survetement casquette ddlongbeach"/></li>
                <li><img src="{{ url('<front>') }}/sites/default/files/media-images/masque-d-d-longbeach.jpg" alt="masque ddlongbeach"/></li>
                <li><img src="{{ url('<front>') }}/sites/default/files/media-images/survetement-retro.jpg" alt="survêtement femme ddlongbeach"/></li>
                <li><img src="{{ url('<front>') }}/sites/default/files/media-images/sacoche-poitrine.jpg" alt="sacoche ddlongbeach"/></li>

            </ul>
        <div class="barre_progression"></div>
        </div>
        <p class="text">
            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
            <br><br> Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
            <br><br>Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
        </p>
    </section>
</main>
